<launch>
 
<!-- Convert xacro and put on parameter server -->
<!--<param name="robot_description" command="$(find xacro)/xacro $(find thesis)/urdf/rover.urdf.xacro" /> -->
<param name="robot_description" command="$(find xacro)/xacro $(find pde4430_ex2)/urdf/rover.urdf.xacro" />

<!-- Spawn a robot into Gazebo -->
<!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rover -x 1 -y 2 -z 3" /> -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rover -x 1 -y 2 -z 3" />

  <!-- Launch teleop node -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
      <param name="cmd_vel" value="/cmd_vel" />
  </node>
</launch>

