<launch>
  <!-- Launch Gazebo world -->
  <param name="use_sim_time" value="true" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find thesis)/worlds/roomliving.world"/>
  </include>

  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find mecademic_description)/urdf/meca_500_r3.urdf.xacro'" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model meca_500_r3 -x 0 -y 0 -z 0.1" />

  <!-- Run the point cloud processing node -->
  <node pkg="thesis" type="lidar3Dwall_measurement.py" name="lidar3Dwall_measurement_node" output="screen"/>
</launch>
